@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
  --font: rgba(240, 240, 240, 255);
  --void: rgba(0, 0, 0, 0);
  --border: 0.2em:
}

body {
  margin:0;
  padding: 0;
  height: 100vh;
  background-image: radial-gradient(1000px,#012, #000);
  display: flex;
  align-items: center;
  justify-content: center;
  /* font-family: monospace, system-ui, Roboto; */
  font-family: monospace, system-ui, Roboto;
  font-size-adjust: 1.5;
  white-space: pre;
}

@keyframes anim {
  0% {
    color: var(--void);
  }
  100% {
    color: var(--font);
  }
}

@keyframes jump {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0px);
  }
}

.triangle-down {
  position: relative;
  top: -5px;
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  border-right: 0.35em solid white;
  border-top: 0.35em solid white;
  transform: rotate(135deg);
  /* margin-right: 0.5em; */
  /* margin-left: 1.0em; */
}

h2, span {
  color: var(--font);
}
span {
  /* animation: anim 2s linear 1; */
  font-weight: bold;
}

h2 {
  background-image: radial-gradient(ellipse at 50% 60%, rgba(50,50,100,10) , rgba(0,0,0,0) 40%);
}

.white {
  /* color: var(--font); */
  color: #eee;
}

.red {
  color: #c15
}

#triangle {
  position: absolute;
  color: white;
  line-height: 10px;
  width: min-content;
  height: min-content;
  top: 80vh;
  left: 50vw;
  display: flex;
  flex-wrap: wrap;
  animation: jump 2s ease-in-out infinite;
  transition: rotate .4s ease-in-out;
}


